
body, html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
}


/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../general-images/paul-naslund-roxborough-1920x600-1-1024x320.jpg");
  
    /* height */ 
    height: 70%;
  
    /* Position */
    background-position: 43%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* text */
  .hero-text {
    text-align: center;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "victorian-orchid", serif;
  }


/* body{
    margin:0;
} */
nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color: black;
    margin:0;
    padding:20px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-size: 1.5em;
    font-family: "victorian-orchid", serif;
    /* font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal; */
    /* transition: color 1s; */
    transform: translate(-50%, -50%);
}

li a:hover{
    background-color: #45634C;
    animation:  shake 0.8s;
    /* color: yellow; */
    /* font-size: 30px; */

}
@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }
/* when you click on the link */
li a:active{
    background-color: white;
    color: black;
}

@media screen and (orientation: portrait) {
    /* body{
        background-color: green;
    } */
    ul{
        flex-wrap: wrap;
        gap: 2em
        /* flex-direction: column; */
    }
    .main-page {  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "s1 s1"
          "s2 s2"
          "s3 s3"
          "s4 s4"
          "s5 s5";
    }

}


h1{
    text-align: center;
}

h2{
    text-align:center;
}

h4 {
    font-size: large;
}

/* div{
    padding: 0.5em;
    margin: 10px;
} */

.boxoffice {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    padding: 0.5em;
    margin: 10px;
}

.boxoffice div {
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    padding: 0.5em;
    margin: 10px;
}

nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color: black;
    margin:0;
    padding:20px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    /* font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal; */
    /* transition: color 1s; */
}

li a:hover{
    background-color: gray;
    /* color: yellow; */
    /* font-size: 30px; */

}
/* when you click on the link */
li a:active{
    background-color: white;
    color: black;
}

