    body, html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
    font-family: "victorian-orchid", serif;
    background-color: #f8e9cf;
}


/* The hero image */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../general-images/paul-naslund-roxborough-1920x600-1-1024x320.jpg");
  
    /* height */ 
    height: 70%;
  
    /* Position */
    background-position: 43%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* text */
  .hero-text {
    text-align: center;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "victorian-orchid", serif;
  }


/* body{
    margin:0;
} */
nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color: black;
    margin:0;
    padding:20px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    font-size: 1.5em;
    font-family: "victorian-orchid", serif;
    /* font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal; */
    /* transition: color 1s; */
    transform: translate(-50%, -50%);
}

li a:hover{
    background-color: #45634C;
    animation:  shake 0.8s;
    /* color: yellow; */
    /* font-size: 30px; */

}
@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
  }
/* when you click on the link */
li a:active{
    background-color: white;
    color: black;
}

@media screen and (orientation: portrait) {
    /* body{
        background-color: green;
    } */
    ul{
        flex-wrap: wrap;
        gap: 2em
        /* flex-direction: column; */
    }
  

}

div.main_faq {
    margin: 1.5em;
}

p, h4 {
    margin: 1em;
    font-size: 17px;
}
nav{
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
    display:flex;
    background-color: black;
    margin:0;
    padding:20px;
    justify-content: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 20px 40px;
    /* font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal; */
    /* transition: color 1s; */
}

/* when you click on the link */
li a:active{
    background-color: white;
    color: black;
}

.accordion {
    font-family: victorian-orchid, serif;
    font-weight: 700;
    font-style: normal;
    background-color: #45634C;
    color: #ffeed6;
    cursor: pointer;
    padding-top: 16px;
    padding-left: 18px;
    width: 100%;
    border:#859889;
    text-align: left;
    outline:#859889;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 25px;
    margin-top: 10px;
    transition: border-radius .2s ease-out .5s
  }
  
  .active, .accordion:hover {
    background-color: #57715d;
  }

  .active{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .panel {
    padding: 0 18px;
    background-color: #8aa890;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out .2s;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .panel p{
    font-size: 16.5px;
  }

  .accordion:after {
    content: '+';
    font-size: 25px;
    color: #ffeed6;
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
  }
  
  .active:after {
    content: "–";
  }