

h1{
    align-items: center;
    justify-content: center;
    display:flex;
}

/* .event_1
{
    width:auto;
    float:left;
    size: fit-content;
    padding:20px;
    display:flex;
    justify-content: baseline;
    background-color:dimgray;
} */

.event_1 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_1 img{
    padding:30px;
    float:left;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_1_text {
    padding:20px;
    /* float:right; */
    color:white;
}

.event_1_text h2{
font-size: 50px;
}   
.event_1_text p{
    font-size:20px;
}

/* spacer event 2*/

.event_2 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_2 img{
    padding:30px;
    float:right;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_2_text {
    padding:0px;
    /* float:right; */
    color:white;
}

.event_2_text h2{
font-size: 50px;
}   
.event_2_text p{
    font-size:20px;
}

/* spacer event 3*/

.event_3 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_3 img{
    padding:30px;
    float:left;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_3_text {
    padding:20px;
    /* float:right; */
    color:white;
}

.event_3_text h2{
font-size: 50px;
}   
.event_3_text p{
    font-size:20px;
}

/* spacer event 4*/

.event_4 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_4 img{
    padding:30px;
    float:right;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_4_text {
    padding:0px;
    /* float:right; */
    color:white;
}

.event_4_text h2{
font-size: 50px;
}   
.event_4_text p{
    font-size:20px;
}

/* spacer event 5*/

.event_5 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_5 img{
    padding:30px;
    float:left;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_5_text {
    padding:20px;
    /* float:right; */
    color:white;
}

.event_5_text h2{
font-size: 50px;
}   
.event_5_text p{
    font-size:20px;
}

/* spacer event 6*/

.event_6 div{
    width:auto;
    padding:120px;
    background-color:dimgray;
}

.event_6 img{
    padding:30px;
    float:right;
    border-radius: 10px;
    margin-right:20px;
    width:45%;
    height:auto;
}


.event_6_text {
    padding:0px;
    /* float:right; */
    color:white;
}

.event_6_text h2{
font-size: 50px;
}   
.event_6_text p{
    font-size:20px;
}